<footer>
  <div class="inner_footer">
    <img src="assets/images/logo.svg" alt="Logo">

    <div class="footer_features">
      <p>Features</p>
      <ul>
        <li>Link Shortening</li>
        <li>Branded Links</li>
        <li>Analytcs</li>
      </ul>
    </div>

    <div class="footer_resources">
      <p>Resources</p>
      <ul>
        <li>Blog</li>
        <li>Developers</li>
        <li>Support</li>
      </ul>
    </div>

    <div class="footer_resources">
      <p>Company</p>
      <ul>
        <li>About</li>
        <li>Our team</li>
        <li>Carrers</li>
        <li>Contact</li>
      </ul>
    </div>

    <div class="social">
      <a href="">
        <img src="assets/images/icon-facebook.svg" alt="Facebook link">
      </a>
      <a href="">
        <img src="assets/images/icon-twitter.svg" alt="Twitter link">
      </a>
      <a href="">
        <img src="assets/images/icon-pinterest.svg" alt="Pinterest link">
      </a>
      <a href="">
        <img src="assets/images/icon-instagram.svg" alt="Instagram link">
      </a>
    </div>

  </div>
</footer>
