@use '/src/styles.scss';

.site_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  position: relative;
  padding: 1.5rem 1.2rem;
  margin-top: 0.5rem;
  margin: 0 auto;
  max-width: 75rem;
  width: 100%;

  @media (min-width: 42.6em) {
    padding: 2.5rem 2rem;
  }

  @media (min-width: 56.8em) {
    padding: 1rem 4rem;
    column-gap: 1.2rem;
  }

  & > button {
    color: styles.$grayish-violet;
    background: none;
    font-size: 1.4rem;

    @media (min-width: 42.6em) {
      font-size: 1.8rem;
    }

    @media (min-width: 56.8em) {
      display: none;
    }
  }

  .site_logo {
    width: 6rem;

    @media (min-width: 42.6em) {
      width: 7rem;
    }
  }

  .menu_list {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 1.2rem;
    font-size: 0.9rem;
    z-index: 10;

    @media (min-width: 42.6em) {
      margin-top: 1.5rem;
      padding: 0 1.8rem;
      pointer-events: all !important;
    }

    @media (min-width: 56.8em) {
      transform: none !important;
      position: relative !important;
      opacity: 1 !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      margin: 0;
      font-size: 0.8rem;
    }

    ul {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 2.2rem 0;
      list-style-type: none;
      background: styles.$primary-dark-violet;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1.2rem;
      font-weight: 600;

      @media (min-width: 56.8em) {
        flex-direction: row;
        background: none;
        row-gap: 0;
        column-gap: 1.2rem;
      }

      .menu_item {
        color: #fff;
        display: block;
        cursor: pointer;
        transition: .5s ease;

        @media (min-width: 56.8em) {
          color: styles.$grayish-violet;
          &:hover {
            color: styles.$primary-dark-violet;
          }
        }
      }
    }

    .menu_buttons {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: styles.$primary-dark-violet;
      row-gap: 0.7rem;
      transform: translateY(-1px);
      padding: 0.5rem 0 2rem 0;

      @media (min-width: 56.8em) {
        flex-direction: row;
        column-gap: 0.5rem;
        align-items: center;
        padding: 0;
        background: none;
      }

      &::before {
        content: "";
        position: absolute;
        width: 75%;
        margin: 0 auto;
        height: 0.5px;
        background: #fff;
        opacity: 0.15;
        transform: translateY(-0.8rem);
        z-index: 100;

        @media (min-width: 56.8em) {
          display: none;
        }
      }

      button {
        padding: 0.7rem 0.5rem;
        color: #ffff;
        border-radius: 50px;

        @media (min-width: 56.8em) {
          padding: 0.5rem 1rem;
        }
      }

      .menu_button_login {
        font-weight: 700;
        background: none;
        font-size: 0.9rem;

        @media (min-width: 56.8em) {
          color: styles.$grayish-violet;
          font-size: 0.8rem;
        }
      }

      .menu_button_signup {
        font-weight: 700;
        width: 85%;
        background: styles.$primary-cyan;
        font-size: 0.9rem;
        transition: 0.5s ease;

        &:hover{
          opacity: .7;
        }
      }
    }
  }
}
