<div class="form-container" (submit)="ShortLink($event)" >
  <form [formGroup]="formGroup" #form="ngForm">
    <div class="input_text_container">
  <input #input_link type="text" placeholder="Shorten a link here..."  formControlName="link" [ngClass]="{'field-invalid': getInvalidStatus(form) }"/>
      <span *ngIf="getInvalidStatus(form)">Please add a link</span>
    </div>
    <button type="submit">Shorten it!</button>
  </form>

  <s-link-card *ngFor="let shortedLinks of shortedLiksList|async" [links]="shortedLinks"></s-link-card>
</div>
